<%- include("patrials/header") -%>

<h1>Compose</h1>

<div class="col-lg-12">
<form action="/compose" method="post">
  <label for="blogtitle">Title</label>
  <input type="text" id="blogtitle"  name="blogTitle" class="form-control"">
   <label for="blogcontant">Post</label>
   <textarea type="textarea" id="blogcontant" rows="7"  name="blogContant" class="form-control"></textarea>
  <button  type="submit" class="btn btn-primary" style="margin-top:20px;">Publish</button>
</form>
</div>
<%- include("patrials/footer") -%>
